.result-form{
  p{
    color: #ffffff;
    font-family: open_sansbold;
    padding: 10px 15px;
    margin-top: 15px;
    display: none;
    &.form-success{
      background-color: #449d44;
    }&.form-error{
      background-color: #d9534f;
    }
  }
}