@import "../node_modules/bootstrap/scss/bootstrap.scss";

#wpadminbar {
  bottom: 0;
  top: auto;
}

.navbar-nav{
  li{
    a{
      color: rgba(255,255,255,.5);
      text-decoration: none;
      padding-right: .5rem;
      padding-left: .5rem;
    }
    &.current_page_item{
      a{
        color: #ffffff;
      }
    }
  }
}

.slide{
  .carousel-item{
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    .carousel-caption {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
      height: 200px;
    }
  }
}

.row-page{
  padding: 30px 15px;
}

.col-post-preview{
  .rounded-circle{
    margin: auto;
    display: block;
  }
  h2{
    padding: 10px 0;
  }
}

.col-post{
  margin-bottom: 15px;
}

.starter-template{
  padding-top: 50px;
}