$base-color-very-light : #66afc3;
$base-color-light : #1a87a5;
$base-color : #00799b;
$base-color-dark : #21708a;
$base-color-very-dark : #005b79;

$base-yellow : #ffab00;




.dark-blue{
  background-color: #005b79;
}