$base-color-very-light : #66afc3;
$base-color-light : #1a87a5;
$base-color : #007CB7;
$base-color-dark : #21708a;
$base-color-very-dark : #002C5D;
$base-color-very-dark-opacity-light : rgba(0, 44, 93, 0.27);

$base-yellow : #ffab00;
$base-green : #86b946;

$base-white-light: rgba(255,255,255, 0.6);