body{
  p{
    font-family: 'open_sanslight';
  }
  a{
    font-family: museosans_500_regular;
  }
  h1, h2 ,h3, h4{
    font-family: museo_500_regular;
  }
  h3{
    &.message{
      font-style: italic;
      text-align: center;
      font-size: 2.0rem;
      margin: 0;
      padding: 0;
    }
  }
}

input,
select,
input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"], input[type="url"],
input[type="text"],
.form-control{
  background: #FFF;
  border: 1px solid #c9cac9;
  font: 12px "lucida grande","helvetica neue",Helvetica,Arial,Verdana,sans-serif;
  height: 39px;
  padding: 0 12px 0 30px;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 2px #c9cac9;
  -moz-box-shadow: inset 1px 1px 2px #c9cac9;
  box-shadow: inset 1px 1px 2px #c9cac9;
  &[type=file]{
    padding: 0;
    height: 21px;
  }
  &:focus{
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    border: 1px solid rgba(0, 0, 0, .25);
  }
}

label{
  color: #444;
  margin-bottom: 6px;
  float: none;
  font-weight: bold;
  display: block;
  font-size: 14px;
}

.btn{
  border-radius: 0;
}