@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'decoboots';
@import "font-awesome.css";
@import "open-sans.css";
@import url('https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800');

body{
  font-family: "open_sansregular";
  color: #555;
  font-size: 16px;
}
h1, h2, h3, h4{
  color: #363636;
}
.navbar {
  background-color: #007CB7;
  border: none;
  .container {
    padding: 30px 15px;
    .navbar-brand {
      font-size: 25px;
      text-transform: uppercase;
      &:first-letter {
        font-size: 40px;
        font-weight: bold;
      }
    }
  }
}

.navbar-inverse {
  .navbar-brand {
    color: #ffffff;
  }
  .navbar-nav {
    color: #ffffff;
    li {
      padding: 5px 26px 13px 13px;
      text-align: left;
      border-left: 1px solid rgba(255, 255, 255, 0.15);
      margin-right: 2px;
      vertical-align: top;
      white-space: nowrap;
      &:hover {
        background: rgb(0, 48, 90);
        border-radius: 3px 3px 0px 0px !important;
      }
      a, a:hover, a:focus, a:active {
        color: #ffffff;
        text-transform: uppercase;
      }
    }
  }
}

.row-slider {
  background: #002C5D;
  height: 550px;
  img {
    width: 1903px;
    height: 1071.39px;
  }
}

.row-slogans {
  padding: 15px;
  .container {
    .div-slogans{
      padding-top: 35px;
    }
    h4 {
      font-weight: bold;
    }
    .col-icon {
      background-color: #86b946;
      color: #ffffff;
      width: 35px;
      height: 35px;
      border-radius: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      margin-top: 5px;
    }
  }
}

.shodow-top{
  height: 60%;
  position: absolute;
  top: 0;
  width: 100%;
  background: url(../img/shadow-2.png) no-repeat scroll center top;
}
.row{
  position: relative;
}
.row-content{
  background-color: #F4F4F2;
  min-height: 400px;
  .container-content{
    text-align: center;
    padding: 40px;
  }
}
.row-message{
  color: #ffffff!important;
  background-color: #003869;
  text-align: center;
  padding: 30px;
}
.row-newsletter{
  background-color: #007CB7;
  min-height: 400px;
}

footer{
  background-color: #003869;
  width: 100%;
  color: #DDD;
  padding: 25px 0;
  vertical-align: baseline;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: right;
    margin: 0;
  }
}